
{% extends 'base.html.twig' %}
    {% block main %}


{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
    <div class="col-6 offset-3" id="loginForm">
        <form action="{{ path('login') }}" method="post">
            <label for="username">Username:</label>
            <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" />

            <label for="password">Password:</label>
            <input class="form-control" type="password" id="password" name="_password" />

            <button class="btn btn-primary" type="submit">login</button>
        </form>
    </div>
    {% endblock %}