{% extends 'base.html.twig' %}

{% block title %}Create post!{% endblock %}
{% block main %}
<div class="col-6 offset-3" id="loginForm">
    <h2>Create Your Post know</h2>
    {{ form(createPostForm) }}
</div>
{% endblock %}
