{% extends 'base.html.twig' %}

{% block title %}Register!{% endblock %}
{% block main %}
    <div class="col-6 offset-3" id="registerForm">
    <h2>Create Your Account know</h2>
    {{ form(registerUserForm) }}
    </div>
{% endblock %}
